.mission-section,
.history-section,
.service-section {
    .section {
        .row {
            margin-top: 20px;
        }
    }
}

.about-container.history {
    background-color: $taupe;
}

.mission-section, .history {
    height: 400px;
}

#aboutBg:after {
	content:'';
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: black;
    opacity: 0.4;
}