.mission-section,
.history-section,
.service-section {
    .section {
        .row {
            margin-top: 20px;
        }
    }
}

.about-container.history {
    background-color: $taupe;
}

.mission-section, .history {
    height: 400px;
}

#aboutBg:after {
	@include transparentBg(0.4);
}