body {
    background-color: color('grey', 'lighten-5');
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: $onyx;
}

.oceanic {
    background-color: $oceanic;
}
.news {
    background-color: $taupe;
}

.parallax-container {
    min-height: 500px;
    height: auto;
    color: rgba(255, 255, 255, .9);
    .section {
        width: 100%;
    }
}

#index-banner {
    .section {
        margin-top: 20px;
        transform: translateY(50%);
        .btn-large {
            background-color: $firework;
        }
    }
}

.about-section,
.service-section {
    .section {
        .row {
            margin-top: 20px;
        }
    }
}

.service-section {
    .section {
        .row {
            .btn {
                background-color: $firework;
            }
        }
    }
}


.news-section {
   min-height: 400px;
}

@media only screen and (max-width: 992px) {
    .parallax-container {
        .section {
            position: absolute;
            top: 40%;
        }
    }
    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
    .material-icons {
        font-size: inherit;
    }
}

footer.page-footer {
    margin: 0;
    background-color: $oceanic;
    .social-media-icons {
        .btn-floating {
            background-color: $firework;
        }
    }
}
