<div class="container">
    <div class="row">
        <div class="col m4 s12 footer-about">
            <h5 class="white-text">About Us</h5>
            <p class="grey-text text-grey left-align">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque blandit scelerisque eleifend. Sed non euismod purus. Aliquam erat volutpat. </p>
            <a class="waves-effect waves-light btn" href="#/about">Read More</a>
        </div>
        <div class="col m4 s12 footer-contact-info">
            <h5 class="white-text">Contact Information</h5>
            <ul class="grey-text text-lighten-3 list">
                <li>Address: <br/> <span>Lorem ipsum dolor sit amet.</span></li>
                <li>Email: <br/> <span>mail@example.com</span></li>
                <li>Phone: <br/> <span>09123456789</span></li>
                <li>Social Media: <br/> <span><i class="material-icons">add</i> <i class="material-icons">add</i> <i class="material-icons">add</i> <i class="material-icons">add</i></span></li>
            </ul>
        </div>
        <div class="col m4 s12">
            <h5 class="white-text">Promo</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        © 2014 All Rights Reserved.
    </div>
</div>
