<div class="container center">
    <div class="row">
        <div class="col s12">
            <h3 class="white-text">LOGO</h3>
        </div>
        <div class="col s12 social-media-icons">
            <a class="btn-floating waves-effect waves-light "><i class="material-icons">add</i></a>
            <a class="btn-floating waves-effect waves-light "><i class="material-icons">add</i></a>
            <a class="btn-floating waves-effect waves-light "><i class="material-icons">add</i></a>
            <a class="btn-floating waves-effect waves-light "><i class="material-icons">add</i></a>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container center">
        © 2015 All Rights Reserved.
    </div>
</div>
