<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">            
            <div class="row center">
                <h5 class="header col s12 light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus massa in rutrum maximus. Mauris felis velit, bibendum at diam vel, volutpat semper elit.</h5>

            </div>
            <div class="row center">
                <a href="#/schedule" class="btn-large waves-effect waves-light ">Get Started</a>
            </div>
        </div>
    </div>
    <!--<div class="parallax" id="parallax2" parallax="parallax2"><img src="images/background1.jpg" alt="Unsplashed background img 1"></div>-->
    <div class="parallax"></div>
</div>
<div class="container about-company">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                asfd
            </div>
            <div class="col s12 m8">
                <h5 class="header grey-text text-darken-2">About the company</h5>
                <p class="grey-text text-darken-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper elementum massa. Aliquam cursus laoreet dolor, ac ullamcorper diam ullamcorper vestibulum. Etiam risus massa, dapibus a commodo pharetra, imperdiet sit amet metus. Sed finibus, dolor id consectetur porttitor, ante augue pharetra risus, vitae sodales ante enim at lacus. Maecenas pharetra tempus neque, non porta magna tincidunt eget. </p>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
            </div>
        </div>
    </div>
    <div class="parallax" id="parallax1" parallax="parallax1"><img src="images/background2.jpg" alt="Unsplashed background img 2"></div>
</div>
<div class="container service-section">
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                asdf
            </div>
            <div class="col s12 m8">                
                <p class="left-align grey-text text-darken-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. </p>
                <a class="waves-effect waves-light btn">Go to service</a>
            </div>
        </div>
    </div>
</div>
