<nav class="top-nav">
    <div class="container">
        <div class="nav-wrapper center-align">
            <a class="page-title">Schedules and Pricing</a></div>
    </div>
</nav>
<div class="container">
    <div class="section">
        <div class="row sched-form-input">
            <div class="col s12 m3">
                &nbsp;
            </div>
            <div class="col s12 m3">
                <label for="fromDate" class="">From</label>
                <input type="date" class="datepicker" datepicker id="fromDate">
            </div>
            <div class="col s12 m3">
                <label for="toDate" class="">To</label>
                <input type="date" class="datepicker" datepicker id="toDate">
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <table class="bordered hide-on-med-and-down sched-price-table-section">
                    <thead>
                        <th>Boat</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Approximation</th>
                        <th>Route</th>
                        <th>Regular Price</th>
                        <th>Student Price</th>
                        <th>Senior Price</th>
                        <th>Promo Price</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="sched in tableSchedList">
                            <td>{{sched.boat}}</td>
                            <td>{{sched.date}}</td>
                            <td>{{sched.time}}</td>
                            <td>{{sched.appro}}</td>
                            <td>{{sched.route}}</td>
                            <td>{{sched.red}}</td>
                            <td>{{sched.stud}}</td>
                            <td>{{sched.senior}}</td>
                            <td>{{sched.promo}}</td>
                        </tr>
                    </tbody>
                </table>
                <ul class="collapsible popout sched-price-section hide-on-large-only" data-collapsible="accordion">
                </ul>
            </div>
            <div class="col s12 center">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper elementum massa. Aliquam cursus laoreet dolor, ac ullamcorper diam ullamcorper vestibulum. Etiam risus massa, dapibus a commodo pharetra, imperdiet sit amet metus. Sed finibus, dolor id consectetur porttitor, ante augue pharetra risus, vitae sodales ante enim at lacus. Maecenas pharetra tempus neque, non porta magna tincidunt eget. </p>
            </div>
        </div>
    </div>
</div>
